<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Add a New Poll</title>
  </head>
  <body>
    <div>
    <form action="{% url 'polls:new' %}" method="post">
      {% csrf_token %}
      <fieldset>
        <legend><h1>Add a New Poll</h1></legend>
        {% if error_message %}
        <p>error! <b>{{error_message}}</b></p>
        {% endif %}
        <div style="margin:10px">
          <input type="text" name="question_text" id="question_text"><label>Your question text</label></input>
        </div>
          <div style="margin:10px">
          <input type="text" name="choice_text" id="choice_text_1"><label>Choice A</label></input>
        </div>
        <div style="margin:10px">
          <input type="text" name="choice_text" id="choice_text_2"><label>Choice B</label></input>
        </div>
        <div style="margin:10px">
          <input type="datetime-local" name="pub_date" id="pub_date"><label>publish date/time (US Central)</label></input>
        </div>
        <input type="submit" value="Submit">
      </fieldset>
    </form>
  </div>
  </body>
</html>
