<html>
  <head>
    <meta charset="utf-8" />
    <title>question details page</title>
  </head>
  <body>
    <h1>Question #{{question.id}}</h1>
    <p><b> {{ question.question_text }} </b></p>
    <ul>
      {% for choice in question.choice_set.all %}
      <!-- question.choice_set.all is interpreted as the Python code question.choice_set.all(), which returns an iterable of Choice objects-->
      <li>{{ choice.choice_text }}</li>
      {% endfor %}
    </ul>
    <form action="{% url 'polls:vote' question.id %}" method="post">
      {% csrf_token %} {% comment %} you can put comments inside of these
      comment tags... neat. the csrf token is a cross-site request forgery
      prevention tool built in to django. also neat. {% endcomment %}
      <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %} {% for choice in question.choice_set.all %}
        <input
          type="radio"
          name="choice"
          id="choice{{ forloop.counter }}"
          value="{{ choice.id }}"
        />
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text}}</label
        ><br />
        {% endfor %}
      </fieldset>
      <input type="submit" value="Vote" />
    </form>
    <p><a href="../">Back to Polls Index</a></p>
  </body>
</html>
