{% if latest_question_list %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>polls index</title>
  </head>
  <body>
    <h1>Polls Index</h1>
    <ul>
      {% for question in latest_question_list %}
      <li>
        <a href="{% url 'polls:detail' question.id %}"
          >{{ question.question_text }}</a
        >
        <!-- this url template tag (% url 'name' 'param') gets called as path('<int:question_id>', views.detail, name='detail')-->
        <!-- now we can adjust the path in polls/urls.py without worrying about mismatching here, because the name ('details' in this case) remains the same-->
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
    <button type="button"><a href="./add-question">Add a new poll</a></button>
  </body>
</html>
